.git
.gitattributes
.gitignore
.github
.gitlab-ci.yml
.circleci
.travis.yml
.npmrc
.agents
.auth
.cache
.claude
.codex
.crush
.DS_Store
Thumbs.db

**/node_modules
**/.cache
**/.env
**/.env.*
**/.next
**/.turbo
**/build
**/coverage
**/dist
**/logs
**/storybook-static
**/test
**/tests
**/test-assets
**/*.log
**/*.spec.*
**/*.test.*
**/*.tsbuildinfo
**/*.map

assets
docs
infra
!infra/docker
!infra/docker/images
!infra/docker/images/postgres
!infra/docker/images/postgres/**
apps/desktop
apps/mobile

Dockerfile
docker-compose*.yml
