services:

  rabbitmq:
    image: rabbitmq:3-management
    container_name: hominem-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password

  redis:
    image: redis:latest
    container_name: hominem-redis
    ports:
      - 6379:6379
    volumes:
      - hominem-redis:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  test-db:
    image: ghcr.io/charlesponti/hominem/pontistudios-postgres:latest
    container_name: hominem-test-postgres
    ports:
      - "4433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: hominem-test
    volumes:
      - hominem-test-db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  hominem:
    driver: bridge

volumes:
  hominem-redis:
  hominem-test-db:
