.autocompleteItem {
  transition: all 0.15s ease-in-out;
  border-radius: 6px;
  margin: 2px 4px;
}

.autocompleteItem:focus,
.autocompleteItem:hover,
.autocompleteItem[data-selected='true'] {
  background-color: var(--input-background-focus);
  color: var(--input-text-focus);
}
